body {
    background-color: #fff;
    margin: 0;
}

h1 {
  font-family: 'Comfortaa';
  font-size: 60px;
}

h2 {
  font-family: 'Comfortaa';
  font-size: 40px;
}

h4 {
  font-family: 'Comfortaa';
  margin-top: 30px;
}

h5 {
  font-family: 'Comfortaa';
  font-size: 20px;
  color: white;
}

p {
  font-family: 'Comfortaa';
  font-size: 20px;
}

label {
  font-family: 'Comfortaa';
  font-size: 16px;
}

.gray-container {
  padding: 20px 20px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.form-group {
  padding-top: 20px;
}

.signupbtn {
  background-color: #FFA500;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-family: 'Comfortaa';
}

.name {
  float: left;
  display: inline-block;
  padding: 100px 200px;
  top: 30%;
}

.signup {
  padding: 100px 80px;
  float: left;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #FFA500;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Comfortaa';
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
